<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with(url: games_path, method: :post) do |form| %>
  <%= form.hidden_field :choice, value: "rock" %>
  <%= form.submit "Rock" %>
<% end %>
<%= form_with(url: games_path, method: :post) do |form| %>
  <%= form.hidden_field :choice, value: "paper" %>
  <%= form.submit "Paper" %>
<% end %>
<%= form_with(url: games_path, method: :post) do |form| %>
  <%= form.hidden_field :choice, value: "scissors" %>
  <%= form.submit "Scissors" %>
<% end %>
